table {
  text-align: center;
  border-collapse: collapse;
}

caption {
  color: brown;
}

th,td{
  padding: 15px;
}

table th{
  background-color: #f2f2f2;
}

table tr:nth-child(even){
  background-color: #f2f2f2;
}

table tr:nth-child(odd){
  background-color: #e9e3e3;
}